<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>CampusFilter</filter-name>
        <filter-class>filter.CampusFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CampusFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ViewMark</servlet-name>
        <servlet-class>controller.student.ViewMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMark</servlet-name>
        <url-pattern>/student/mark</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.assignment.lecturer.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCampusController</servlet-name>
        <servlet-class>controller.assignment.lecturer.LoginCampusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerAttendanceTakingController</servlet-name>
        <servlet-class>controller.assignment.lecturer.LecturerAttendanceTakingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherGradingController</servlet-name>
        <servlet-class>controller.assignment.lecturer.TeacherGradingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCampusController</servlet-name>
        <url-pattern>/logincampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerAttendanceTakingController</servlet-name>
        <url-pattern>/lecturer/atts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherGradingController</servlet-name>
        <url-pattern>/lecturer/grade</url-pattern>
    </servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
